body{
    margin: 0;
    padding: 0;

}

.container{
    display: grid;
    grid-template-columns: 250px 4fr 1fr;
    grid-template-rows: 120px 100px 4fr 1fr;
    background-color: rgb(14, 41, 84);
}

.header{
    display: flex;
    grid-column:2/4;
    grid-row:1/2;
    background-color:rgb(31, 110, 140);
    
}

.button-34{
    display: flex;
    background-color: black;
    color: white;
    cursor: pointer;
    justify-content: space-between;
    margin: 40px;
    border:none; 
    border-radius:10px; 
    padding:10px;
    min-height:30px; 
    min-width: 80px;
    align-items: center;
    justify-content: center;      
}

/* .profile-picture {
    position:relative;
    overflow: hidden;
    border-radius: 50%;
    right:10px;
    height: 60px;
    width: 60px;
}

.profile-picture img {
    position:absolute;
    width: 100px;
    height: 100px;
    top: 90%;
    right:-13px;
    transform:translateY(-50%);
} */

.profile-picture{
    position: relative;
    left: 1000px;
    top: 20px;
    align-items: center;
}

.profile-picture img{
  width: 80px;
  height:80px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center right;
}

.nav{
    display: flex;
    align-items: center;
    grid-row:2/3;
    grid-column:2/4;
    background-color: rgb(132, 167, 161);
}

.nav .announce-heading{
    margin-left: auto;
}


.nav h2{
    margin:100px;
}

/*Sidebar*/
.sidebar{
    display: grid;
    grid-template-rows: 100px 300px 300px;
    grid-column: 1/2;
    grid-row: 1/5;
    background-color: rgb(46, 138, 153);
    color: aliceblue;
    font-size: 25px;
}

.profile .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px;
    
}

.links li,
.profile li{
    display: flex;
    align-items: center;
    list-style-type: none;
    cursor: pointer;
    text-decoration: none;
    margin-right: 30px;
    margin-bottom: 30px;
}

.profile{
    margin-bottom:37px;
    margin-left: 37px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    margin: 10px;
    
  }



.projects{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-row: 3/4;
    margin: 50px;
}

.projects .card{
    height: 150px;
    border: 2px solid black;
    padding: 10px
}

.announcements{
    margin: 40px;
    padding: 20px;
   
}

.trending1{
    margin-bottom: 40px;
}
.trending1,
.trending2{
    border: 1px solid black;
    padding: 10px;
}

