body{
    margin: 0;
    padding: 0;

}

.container{
    display: grid;
    grid-template-columns: 250px 4fr 1fr;
    grid-template-rows: 120px 100px 4fr 1fr;
    /* background-color: rgb(132, 167, 161); */
}

.header{
    display: flex;
    align-items: center;
    grid-column:2/4;
    grid-row:1/2;
    background-color:rgb(31, 110, 140);
    margin: 20px;
    border-radius: 10px;
    
    
}

.button-34{
    display: flex;
    background-color: black;
    color: white;
    cursor: pointer;
    margin: 20px;
    border:none; 
    border-radius:10px; 
    padding:15px;
    align-items: center;
    justify-content: center; 
    font-family: 'Raleway', sans-serif;    
}

.profile-picture{
    align-items: center;
    margin-left: auto;
    margin-right: 60px;
}

.profile-picture img{
  width: 60px;
  height:60px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center right;
}

.nav{
    display: flex;
    gap: 8px;
    align-items: center;
    grid-row:2/3;
    grid-column:2/4;
    background-color: rgb(58, 61, 61);
    color: azure;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.nav .announce-heading{
    margin-left: auto;
}


.nav h2{
    margin:100px;
}

/*Sidebar*/
.sidebar{
    display: grid;
    grid-template-rows: 100px 300px 300px;
    grid-column: 1/2;
    grid-row: 1/5;
    background-color: rgb(41, 43, 43);
    color: aliceblue;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.profile .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px;
    
}

.links li,
.profile li{
    display: flex;
    align-items: center;
    list-style-type: none;
    cursor: pointer;
    text-decoration: none;
    margin-right: 30px;
    margin-bottom: 30px;
}

.profile{
    margin-bottom:37px;
    margin-left: 37px;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    margin: 10px;
    
  }



.projects{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-row: 3/4;
    margin: 50px;
}

.projects .card{
    height: auto;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius:5px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.announcements{
    margin: 40px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius:5px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
   


.trending1{
    margin-bottom: 40px;
}
.trending1,
.trending2{

    padding: 10px;
}


